<div class="container-fluid">
  <div class="container">
    <div class="topContainer">
      <div class="row">
        <div class="createbtn">
          <button class="btn addbtn" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Teachers</button>
        </div>
      </div>
    </div>
    <div class="bottomContainer">
      <div class="usertype">
        <h3>Teachers<span> (21)</span></h3>
      </div>
      <div class="row card-parts">
        <div class="col-12 col-sm-6 col-md-4 col-xl-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Saurabh Kumar Singh tiwari</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <span class="udetailVal">Email -</span> ssaurabhsingh548
              </li>
              <li class="list-group-item">
                <span class="udetailVal">ID -</span> 120141000
              </li>
              <li class="list-group-item">
                <span class="udetailVal">Subj Spec -</span> hindi english math
              </li>
            </ul>
            <div class="card-body row">
              <div class="btn btn-success btn1 col-6 col-md-4">View</div>
              <div class="btn btn-warning btn1 col-6 col-md-4">Edit</div>
              <div class="btn btn-danger btn1 col-6 col-md-4">Delete</div>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-xl-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Saurabh Kumar Singh tiwari</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <span class="udetailVal">Email -</span> ssaurabhsingh548
              </li>
              <li class="list-group-item">
                <span class="udetailVal">ID -</span> 120141000
              </li>
              <li class="list-group-item">
                <span class="udetailVal">Subj Spec -</span> hindi english math
              </li>
            </ul>
            <div class="card-body row">
              <div class="btn btn-success btn1 col-6 col-md-4">View</div>
              <div class="btn btn-warning btn1 col-6 col-md-4">Edit</div>
              <div class="btn btn-danger btn1 col-6 col-md-4">Delete</div>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-xl-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Saurabh Kumar Singh tiwari</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <span class="udetailVal">Email -</span> ssaurabhsingh548
              </li>
              <li class="list-group-item">
                <span class="udetailVal">ID -</span> 120141000
              </li>
              <li class="list-group-item">
                <span class="udetailVal">Subj Spec -</span> hindi english math
              </li>
            </ul>
            <div class="card-body row">
              <div class="btn btn-success btn1 col-6 col-md-4">View</div>
              <div class="btn btn-warning btn1 col-6 col-md-4">Edit</div>
              <div class="btn btn-danger btn1 col-6 col-md-4">Delete</div>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-xl-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Saurabh Kumar Singh tiwari</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <span class="udetailVal">Email -</span> ssaurabhsingh548
              </li>
              <li class="list-group-item">
                <span class="udetailVal">ID -</span> 120141000
              </li>
              <li class="list-group-item">
                <span class="udetailVal">Subj Spec -</span> hindi english math
              </li>
            </ul>
            <div class="card-body row">
              <div class="btn btn-success btn1 col-6 col-md-4">View</div>
              <div class="btn btn-warning btn1 col-6 col-md-4">Edit</div>
              <div class="btn btn-danger btn1 col-6 col-md-4">Delete</div>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-xl-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Saurabh Kumar Singh tiwari</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <span class="udetailVal">Email -</span> ssaurabhsingh548
              </li>
              <li class="list-group-item">
                <span class="udetailVal">ID -</span> 120141000
              </li>
              <li class="list-group-item">
                <span class="udetailVal">Subj Spec -</span> hindi english math
              </li>
            </ul>
            <div class="card-body row">
              <div class="btn btn-success btn1 col-6 col-md-4">View</div>
              <div class="btn btn-warning btn1 col-6 col-md-4">Edit</div>
              <div class="btn btn-danger btn1 col-6 col-md-4">Delete</div>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-xl-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Saurabh Kumar Singh tiwari</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <span class="udetailVal">Email -</span> ssaurabhsingh548
              </li>
              <li class="list-group-item">
                <span class="udetailVal">ID -</span> 120141000
              </li>
              <li class="list-group-item">
                <span class="udetailVal">Subj Spec -</span> hindi english math
              </li>
            </ul>
            <div class="card-body row">
              <div class="btn btn-success btn1 col-6 col-md-4">View</div>
              <div class="btn btn-warning btn1 col-6 col-md-4">Edit</div>
              <div class="btn btn-danger btn1 col-6 col-md-4">Delete</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Model -->

<div
  class="modal fade"
  id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content" style="background-color: rgb(231, 228, 228)">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Teachers</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeModel()"
        ></button>
      </div>
      <div class="modal-body">
        <form class="row g-3 needs-validation" novalidate>
          <div class="col-md-6">
            <label for="validationCustom01" class="form-label">
              Name <span style="color: red">*</span>
            </label>
            <input
              type="text"
              class="form-control required-input"
              id="validationCustom01"
              placeholder="Enter Name"
              required
            />
          </div>

          <!-- Email Field -->
          <div class="col-md-6">
            <label for="validationCustom02" class="form-label">
              Email <span style="color: red">*</span>
            </label>
            <input
              type="text"
              class="form-control required-input"
              id="validationCustom02"
              placeholder="Enter Email"
              required
            />
          </div>

          <!-- ID Field -->
          <div class="col-md-6">
            <label for="validationCustom03" class="form-label">
              ID <span style="color: red">*</span>
            </label>
            <input
              type="text"
              class="form-control required-input"
              id="validationCustom03"
              placeholder="Enter ID"
              required
            />
          </div>

          <!-- Contacts Field -->
          <div class="col-md-6">
            <label for="validationCustom07" class="form-label">
              Contacts <span style="color: red">*</span>
            </label>
            <input
              type="text"
              class="form-control required-input"
              id="validationCustom07"
              placeholder="Enter Contacts"
              required
            />
          </div>

          <!-- Subject Field (Full Width) -->
          <div class="col-12">
            <label for="validationCustom04" class="form-label">
              Subject <span style="color: red">*</span>
            </label>
            <input
              type="text"
              class="form-control required-input"
              id="validationCustom04"
              placeholder="Enter Subject"
              required
            />
          </div>

          <!-- Class Field (Full Width) -->
          <div class="col-12">
            <label for="validationCustom05" class="form-label">
              Class <span style="color: red">*</span>
            </label>
            <input
              type="text"
              class="form-control required-input"
              id="validationCustom05"
              placeholder="Enter Class"
              required
            />
          </div>

          <!-- Address Field (Full Width) -->
          <div class="col-12">
            <label for="validationCustom06" class="form-label">
              Address <span style="color: red">*</span>
            </label>
            <input
              type="text"
              class="form-control required-input"
              id="validationCustom05"
              placeholder="Enter Address"
              required
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="closeModel()"
        >
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
