body {
    background-color: #f8f9fa;
}

.mt-3.p-3.bg-white {
    padding-left: 0 !important;
}
.mt-3.p-3.bg-white > h5 {
    font-family: Karla, sans-serif;
}

.alert-success {
    background-color: #90EE90;
    font-weight: bold;
}

.table th, .table td {
    vertical-align: middle;
}

.table-header {
    background-color: #275df5;
    color: white;
}

.table-responsive {
    overflow-x: auto;
}

.fa-edit, .fa-trash {
    font-size: 1.2rem;
}






/* Search Bar Styling */
.search-bar {
    position: relative;
    width: 300px;
}

.search-input {
    width: 100%;
    padding: 12px 45px 12px 15px;
    border-radius: 25px;
    border: none;
    outline: none;
    background: white;
    font-size: 16px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.search-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #aaa;
    cursor: pointer;
}

/* Mobile view adjustments */
@media (max-width: 400px) {
    .search-bar {
        width: 100%;
        max-width: 250px;
        margin-left: auto;
        margin-top: 10px; /* Adds gap between button and search */
    }
}
 
.form-control, .ng-multiselect-dropdown .dropdown-btn {
    border: none !important;
    border-bottom: 2px solid #ced4da !important;
    border-radius: 0 !important;
    padding: 6px 6px 6px 0;
}
.form-control, .ng-multiselect-dropdown .dropdown-btn {
    border: none !important;
    border-bottom: 2px solid #ced4da !important;
    border-radius: 0 !important;
    padding: 6px 6px 6px 0;
}
.form-control:focus {
    outline: none !important;
    box-shadow: none !important;
    border-bottom: 2px solid #007bff !important;
}
.mb-2 {
    margin-bottom: 8px !important;
}
.form-label {
    margin-bottom: 0 !important;
    display: block;
}
.d-flex.gap-2 {
    gap: 10px !important;
}
.form-check-input {
    width: 2.5em;
    height: 1.5em;
    border: 2px solid #ced4da;
    position: relative;
    left: 20px;
    top: -5px;
}
.form-check-input:checked {
    border: none;
}
.tog {
    display: flex;
}