<div class="container mt-3">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="assignment-card m-auto">
                <span class="subject">Biology</span>
                <h5 class="topic">Red Blood Cells</h5>

                <div class="details">
                    <p><strong>Assign Date:</strong> <span class="span-right">17 Nov 2021</span></p>
                    <p><strong>Last Date:</strong> <span class="span-right">20 Nov 2021</span></p>
                    <p><strong>Status:</strong> <span class="pending span-right">Pending</span></p>
                </div>

                <button class="btn btn-primary rounded-5 w-100" 
                        style="background: linear-gradient(to right, #293e9c, #232a69);">
                    To be Submitted
                </button>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="assignment-card m-auto">
                <span class="subject">Biology</span>
                <h5 class="topic">Red Blood Cells</h5>

                <div class="details">
                    <p><strong>Assign Date:</strong> <span class="span-right">17 Nov 2021</span></p>
                    <p><strong>Last Date:</strong> <span class="span-right">20 Nov 2021</span></p>
                    <p><strong>Status:</strong> <span class="pending span-right">Pending</span></p>
                </div>

                <button class="btn btn-primary rounded-5 w-100" 
                        style="background: linear-gradient(to right, #293e9c, #232a69);">
                    To be Submitted
                </button>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="assignment-card m-auto">
                <span class="subject">Biology</span>
                <h5 class="topic">Red Blood Cells</h5>

                <div class="details">
                    <p><strong>Assign Date:</strong> <span class="span-right">17 Nov 2021</span></p>
                    <p><strong>Last Date:</strong> <span class="span-right">20 Nov 2021</span></p>
                    <p><strong>Status:</strong> <span class="pending span-right">Pending</span></p>
                </div>

                <button class="btn btn-primary rounded-5 w-100" 
                        style="background: linear-gradient(to right, #293e9c, #232a69);">
                    To be Submitted
                </button>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="assignment-card m-auto">
                <span class="subject">Biology</span>
                <h5 class="topic">Red Blood Cells</h5>

                <div class="details">
                    <p><strong>Assign Date:</strong> <span class="span-right">17 Nov 2021</span></p>
                    <p><strong>Last Date:</strong> <span class="span-right">20 Nov 2021</span></p>
                    <p><strong>Status:</strong> <span class="pending span-right">Pending</span></p>
                </div>

                <button class="btn btn-primary rounded-5 w-100" 
                        style="background: linear-gradient(to right, #293e9c, #232a69);">
                    To be Submitted
                </button>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="assignment-card m-auto">
                <span class="subject">Biology</span>
                <h5 class="topic">Red Blood Cells</h5>

                <div class="details">
                    <p><strong>Assign Date:</strong> <span class="span-right">17 Nov 2021</span></p>
                    <p><strong>Last Date:</strong> <span class="span-right">20 Nov 2021</span></p>
                    <p><strong>Status:</strong> <span class="pending span-right">Pending</span></p>
                </div>

                <button class="btn btn-primary rounded-5 w-100" 
                        style="background: linear-gradient(to right, #293e9c, #232a69);">
                    To be Submitted
                </button>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="assignment-card m-auto">
                <span class="subject">Biology</span>
                <h5 class="topic">Red Blood Cells</h5>

                <div class="details">
                    <p><strong>Assign Date:</strong> <span class="span-right">17 Nov 2021</span></p>
                    <p><strong>Last Date:</strong> <span class="span-right">20 Nov 2021</span></p>
                    <p><strong>Status:</strong> <span class="pending span-right">Pending</span></p>
                </div>

                <button class="btn btn-primary rounded-5 w-100" 
                        style="background: linear-gradient(to right, #293e9c, #333c8d);">
                    To be Submitted
                </button>
            </div>
        </div>
    </div>
</div>

