<div class="container-fluid">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="logo">
          <a class="brand-link"><span class="brand-name">Campus</span>Tweet</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="nav-link navbar-nav mr-auto">
            <li><a routerLink="teacher/assignment" class="nav-value nav-item " routerLinkActive="active" >Assignment</a></li>
            <li><a routerLink="teacher/announcement" class="nav-value nav-item " routerLinkActive="active" >Announcement</a></li>
            <li><a routerLink="teacher/attendance" class="nav-value nav-item " routerLinkActive="active" >Attendance</a></li>
          </div>
        </div>
      </nav>
    </div>
  </div>
  
