<div class="container mt-3">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        Data updated successfully
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  
    <!-- Button and Search Bar Container -->
  <div class="row mb-3 align-items-center">
    <div class="col-12 col-sm-auto mb-2 mb-sm-0">
        <button class="btn btn-dark w-110" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color:#275df5; border: none; height: 43px; margin-right: 10px;">
            Create Assignment
        </button>
    </div>
    <div class="col-12 col-sm-auto ms-sm-auto">
        <div class="search-bar">
            <input type="text" class="search-input" placeholder="Search Subject">
            <i class="search-icon"></i>
        </div>
    </div>
  </div>
</div>
<div class="container mt-3">
    <h5 class="fw-bold m-0">Assignment (1)</h5>
  <p class="text-muted mb-3">
      All Subjects available in your institute are listed here along with their details. This section helps in managing and keeping track of the teachers associated with your institution efficiently.
  </p>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="assignment-card m-auto">
                <span class="subject">Biology</span>
                <h5 class="topic">Red Blood Cells</h5>

                <div class="details">
                    <p><strong>Assign Date:</strong> <span class="span-right">17 Nov 2021</span></p>
                    <p><strong>Last Date:</strong> <span class="span-right">20 Nov 2021</span></p>
                    <p><strong>Class:</strong> <span class="span-right class-right">10A</span></p>
                </div>

                <!-- <button class="btn btn-primary rounded-5 w-100" 
                        style="background: linear-gradient(to right, #293e9c, #232a69);">
                    To be Submitted
                </button> -->
                <button class="btn btn-primary rounded-5 w-100" 
                        style="background: linear-gradient(to right, #4e60af, #3d4592);">
                    View
                </button>
            </div>
        </div>
    </div>
</div>
