<div class="container-fluid" style="background-color: #0b192c">
  <div class="container">
    <nav class="navbar navbar-expand-lg" style="background-color: #0b192c">
      <a class="navbar-brand">
        <img
        alt="this is Logo" class="obj-f-contain" src="https://stage.practiz.xyz/uploads/file/657b4213fda789c1ea441aad/file-1740756036715.png"
        />
        CampusTweet
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="">Teacher</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="student">Student</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="subject">Subject</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="class">Class</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>




