<div class="container-fluid">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="logo">
        <a class="brand-link"><span class="brand-name">Campus</span>Tweet</a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="nav-link navbar-nav mr-auto">
          <li><a routerLink="/teacher" class="nav-value nav-item " routerLinkActive="active" >Teacher</a></li>
          <li><a routerLink="student" class="nav-value nav-item " routerLinkActive="active" >Student</a></li>
          <li><a routerLink="class" class="nav-value nav-item " routerLinkActive="active" >Class</a></li>
          <li><a routerLink="subject" class="nav-value nav-item " routerLinkActive="active" >Subject</a></li>
          <li><a routerLink="announcement" class="nav-value nav-item " routerLinkActive="active" >Announcement <span class="badge bg-danger">4</span></a></li>
          <li><a routerLink="profile" class="nav-value nav-item " routerLinkActive="active" >Profile</a></li>
        </div>
      </div>
    </nav>
  </div>
</div>
