<div class="container mt-4">
  
    <div class="row mb-3 align-items-center">
      <div class="col-12 col-sm-auto ms-sm-auto">
        <div class="search-bar">
          <input type="text" class="search-input" placeholder="Search Announcement" />
          <i class="search-icon"></i>
        </div>
      </div>
    </div>
  
    <div class="mt-3 p-3 bg-white">
      <h5 class="fw-bold m-0">Announcement</h5>
      <p class="text-muted text-det m-0 mb-4">
        All Class available in your institute are listed here along with their details. This section helps in managing and keeping track of the Classes associated with your institution efficiently.
      </p>
  
      <div class="row">
        <div class="col-12 col-lg-6 mb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Holiday</h5>
              <h6 class="card-subtitle mb-2 text-muted">by Principle(22 march 2025)</h6>
              <p class="card-text">Dear Student, This is inform you that The school will be closed On Friday,30th March on account of Holi Festival.</p>
              <a class="card-link">Card link</a>
              <a class="card-link">Another link</a>
            </div>
          </div>
        </div>
  
        <div class="col-12 col-lg-6 mb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addUserModalLabel">Add Announcement</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-2">
                <label for="name" class="form-label">Announcement Title</label>
                <input type="text" class="form-control" id="name" placeholder="Enter Title" />
              </div>
              <div class="mb-1">
                <label class="form-label">Enter Announcement Message</label>
                <textarea class="form-control" rows="3"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary">Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>